ion-tab-bar{
    background:url('../../assets/images/tabs_background.png');
    ion-tab-button{
        background: none;
        color: #cccccc;
        ion-icon{
            color: #cccccc;
        }
    }
    ion-tab-button.tab-selected{
        color: #fff;
        ion-icon{
            color: #fff;
        }
    }
}
